// @import '../css/variables';
@use '../css/variables' as vars;

.left-panel {

  max-width: 250px;
  background: vars.$white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 20px;
  
}